ul {
    list-style: none;
}

input[type="text"]:focus {
    outline: 1px solid blue;
}

.country-list__item {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 40px;
}

.country-info__weight {
    font-weight: 600;
}

.country-list__name {
    margin-left: 25px;
}